.nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 50px;
    height: 50px;
}

.nav__ul{
    display: flex;
    list-style: none;
}

.nav__li{
    margin: 0 10px;
}

.nav__title{
    font-weight: bold;
    font-size: 20px;
}

.nav__title,.nav__a{
    padding: 5px 20px;
    text-decoration: none;
    color: white
}
.nav__a:hover{
    background-color: #035AA6;
    border-radius: 3px;
}